.navbar {
  width: 100%;
  display: flex;
  justify-content: center;   /* Центровка пунктов меню */
  align-items: center;
  gap: 50px;                 /* Расстояние между кнопками */
  padding: 20px 0;
  background-color: #021a3a;
}

/* Ссылки */
.navbar a {
  color: #cfe6ff;
  text-decoration: none;
  font-size: 22px;           /* Размер надписей НАВИГАЦИИ */
  font-weight: 500;
  position: relative;
  transition: 0.25s;
}

/* Подсветка активной ссылки */
.navbar a.active,
.navbar a:hover {
  color: white;
}

.navbar a.active::after,
.navbar a:hover::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;               
  background-color: #4dafff;
  border-radius: 4px;
}
